[MASTER]
extension-pkg-whitelist=

[MESSAGES CONTROL]
disable=
    C0103,  # invalid-name
    C0111,  # missing-docstring
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0613,  # unused-argument

[FORMAT]
max-line-length=100

[BASIC]
good-names=i,j,k,ex,Run,_,x,y,z,t

[DESIGN]
max-args=7
max-locals=15
